*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}
.container{
    display: flex;
    align-items: center;
    width: 600px;
    margin: 100px auto;
    position: relative;
}
.btn{
    background-color: #fff;
    border: solid 0.5px #087f5b;
    height: 40px;
    width: 40px;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 12px 24px rgba(0,0,0,0.25);
    cursor: pointer;
}
.btn-icon{
    height: 24px;
    width: 24px;
    stroke: #087f5b;
}
  .btn--esquerdo{
    left: 0;
    top: 50%;
    transform: translate(-50%,-55%);
}
.btn--direito{
    right: 0;
    top: 50%;
    transform: translate(50%,-50%);
}
a{
    margin-left: 55px;
    text-decoration: none;
    text-align: center;
    color:black;
}
.hiper{
  padding: 8px 8px;
  background-color:#087f5b;
  border-radius: 50%;
}
